
.footer-custom{
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.title-custom{
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 2em;
}
.centering{
  text-align: -webkit-center;
}
table{
  border-color: black !important;
}
td{
  padding: 1.25em;
  border: 1px solid #f7f8f9;
}
#contentwidth{
  width: 70%; 
  text-align: center; 
  border:1px solid black;
  font-size: 23px;
}

.title-custom-2 {
  text-transform: uppercase;
  font-weight: 700
}
.ul-custom{
  list-style-type: circle; 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.kolom40{
  font-size:23px; 
  padding-left:50px; 
  width: 40%;
}

.kolom30{
  width: 30%;
}

.flex-container-terinspirasi {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container-description {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
}

.flex-container-description > div {
  color:white;  
  width: 25%;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
}
#imagewidth{
  width: 20%; 
  border:1px solid black;
}
.imageRotate{
	transition: all 2s;
}
.imageRotate:hover{
  transform: rotateY(180deg);
}
.imagesplit{
  height: 327px;
}
.parallax {
  /* The image used */
  background-image: url("http://startgo-id.com/new/wp-content/uploads/2019/10/gambar-panjang-1-1.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.showhim{
  line-height: 1;
}
.showhim:hover{
  background-color: red;
}

.showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
  background-color: white;
  color:black;
}

.watch{
 
}
.watch:hover{
  width:250px;
  height:250px;
}
@media only screen and (max-width: 600px) {
  .footer-custom{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height:58px;
  }
  .kolom40{
    width: 100%;
  }
  
  .kolom30{
    width: 100%;
  }

.flex-container-terinspirasi {
  display: flex;
  flex-direction: column;
  background-color:#f0f0f0;
}
}